// Color palette
$chocolate-cosmo: #511C29;
$taupe-gray: #A29C9B;
$rose-taupe: #7D4F50;
$crepe: #F1D3BC;
$taupe-gray-s: #a29c9b8a;

// Font style
$font-p: "Playfair", serif;
$font-title: "Pacifico", cursive;